[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aggregateBioVar"]
	path = aggregateBioVar
	url = https://github.com/jasonratcliff/aggregatebiovar
